<% if user_signed_in? %>
<h1>You are logged in </h1>
<% else %>
<div class="row-fluid">
	
  <div class="span4">
  	<div class="hero-unit">
  	Topics
  </div>
	</div>
  
  		<div class="span8 ">

  			<h1>Welcome to the TVWC Office Bearers in CyberSpace </h1>
	<p> If you have landed on this page it is by invitation only. The database already has your email address. If you are unable to sign up contact group webmaster.</p>
	<p>After signing up you will have access to the site content. All office bearers can create and read posts.</p>
	<p> 
	<%= link_to "Sign Up Now ", "#", class: "btn btn-success btn-large" %>
	</p>

</div>
<br/>
<br/><br/><br/><br/><br/><br/>


</div>
<% end %>



		
	

	

	
	