<h1>Stories</h1>
A place for posting stories about currenty animals or birds in care, interesting rescues or stories that can be used in newsletters or on the public website.


<h1>Guidelines for using the Office Bearers Site and other things for the index posts page</h1>


<p>Code of Conduct- to follow the code of conduct already in place for the group.</p>
<p>Instructions for posting to the blog</p>
<p>Privacy Policy</p>
